:{$PORT:8080} {
  handle /healthz {
    respond "healthy" 200
  }

  handle /api/* {
    reverse_proxy {$API_UPSTREAM}
  }

  handle_path /auth/* {
    reverse_proxy {$KEYCLOAK_UPSTREAM} {
      header_up Host giga-desk-keycloak-production.up.railway.app
    }
  }

  handle /resources/* {
    reverse_proxy {$KEYCLOAK_UPSTREAM} {
      header_up Host giga-desk-keycloak-production.up.railway.app
    }
  }

  handle /realms/* {
    reverse_proxy {$KEYCLOAK_UPSTREAM} {
      header_up Host giga-desk-keycloak-production.up.railway.app
    }
  }

  handle {
    root * /srv
    try_files {path} /index.html
    file_server
  }
}
