:{$PORT:8080} {
  handle /healthz {
    respond "healthy" 200
  }

  handle /api/* {
    reverse_proxy {$API_UPSTREAM}
  }

  handle /auth/* {
    reverse_proxy {$AUTH0_UPSTREAM} {
      header_up Host giga-desk-auth0-production.up.railway.app
    }
  }

  handle {
    root * /srv
    try_files {path} /index.html
    file_server
  }
}
