# JSON map of project repository URLs to local checkouts on this worker.
GIGA_DESK_WORKER_REPOSITORIES=[{"url":"https://github.com/example/project.git","path":"/home/user/repos/project"}]
GIGA_DESK_WORKER_AGENT_TYPE=CodexCli
GIGA_DESK_AGENT_POLL_INTERVAL_MS=5000
GIGA_DESK_AGENT_HEARTBEAT_INTERVAL_MS=30000
