GIGA_DESK_WORKER_REPOSITORY_URL=https://github.com/conorbrown-dev/giga-desk.git
GIGA_DESK_WORKER_REPOSITORY_PATH=/home/conor/repos/giga-desk
GIGA_DESK_AGENT_POLL_INTERVAL_MS=5000
GIGA_DESK_AGENT_HEARTBEAT_INTERVAL_MS=30000
